# 第1章 課題

## 課題1

print関数を使って自分の情報を表示させる

＜実行例＞ `b1998040 Chitose Taro`

In [21]:
# 入力用
print("b2210090 Arai Tsubasa")

b2210090 Arai Tsubasa

## 課題2

int型変数`student_number`に学籍番号の数値の部分を代入し、  
自分の情報を表示させる

＜実行例＞ `b1998040 Chitose Taro`

＜hint＞ 3通りあるはずです。

In [24]:
# 入力用
student_number = 2210090
print("b" + str(student_number) + " " + "Arai Tsubasa")
print("b{} Arai Tsubasa".format(student_number))
print(f"b{student_number} Arai Tsubasa")

b2210090 Arai Tsubasa
b2210090 Arai Tsubasa
b2210090 Arai Tsubasa

## 課題3

10から2800まで、10飛ばしの数を乱数で生成し、  
2220000に足して、名前とともに表示させる

＜実行例＞ `b2220010 Chitose Taro`

In [31]:
# 入力用
import random

student_number = 2220000
a = random.randint(1,280)*10
print("b" + str(student_number + a)+ " " + "Arai Tsubasa")
print("b{} Arai Tsubasa".format(student_number+a))
print(f"b{student_number + a} Arai Tsubasa")

b2220380 Arai Tsubasa
b2220380 Arai Tsubasa
b2220380 Arai Tsubasa